<!DOCTYPE html>
<html>
<head>
  <title>Quests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Archive", archive_path %></li>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %> 
        	<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
       	<% else %>
       		<li><%= link_to "Log In", new_user_session_path %></li>
     	<% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>

  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text">
        <a href="https://instagram.com/leila.jacob/" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
        <a href="https://www.pinterest.com/asganymede/" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-pinterest fa-stack-1x"></i>
        </span>
        <a href="https://twitter.com/leila_jacob" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        <a href="https://www.youtube.com/channel/UCdU1vd_pVw83Yec1FfdgTyQ?view_as=public" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        <a href="http://leilajacob.deviantart.com/" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-deviantart fa-stack-1x"></i>
        </span>
        <a href="http://rosalindasganymede.tumblr.com/" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-tumblr fa-stack-1x"></i>
        </span>
        <a href="https://github.com/leilajacob" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-github-square fa-stack-1x"></i>
        </span>
        <!-- <a href=""><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-slack fa-stack-1x"></i>
        </span> -->
        <a href="https://www.linkedin.com/profile/view?id=AAMAABWcluUB2lmuExk-XtJMBws1Y2c-i4gW9sw&trk=hp-identity-name" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </div>

</body>
</html>
